@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(fonts/RobotoCondensed.woff) format('woff');
}


*
{
    font-family: 'Roboto Condensed'!important;
}

.contenido
{
    margin-top: 10%;
}

.cagamargin{
	height:70px;
}

.login
{
    min-width: 20px;
    max-width: 500px;
    margin: auto;
}

.reg
{
	font-size: -20%;
}

.titulo-seccion
{
    color: #00d3c4;
}

.imagen-seccion
{
    width: 20%;
    margin: auto;
}

.ultimas-publicaciones
{
    width: 95%;
    margin: auto;
}

.cuerpo-suelto
{
    color: #ffffff;
    text-align: center;
    margin-top: 30px;
    font-size: 22px;
}

.aprender-mas
{
	width: 10%;
	margin: auto;
}

.addPel{
	color: black!important;
}

td{
	color: #F2F5A9;
}

thead{
	color:#00FF80;
}

