.star-rating label {
	font-size: 300%;
  float: right;
  color: #95a5a6; /* gris (normal) */
}
  .star-rating label:hover {
    color: #FFFF00; /* amarillo (seleccionado) */
  }
  .star-rating label:hover ~ label {
    color: #FFFF00; /* amarillo (seleccionado) */
  }

  
  
  
  .star-rating-voted label {
	font-size: 300%;
  	float: right;
  	color: black;
}



.star-rating, .star-rating-voted{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}